In [1]:
#import needed to call the database 
import pandas as pd
#importing the libraries required to characterise and visualise the data
import numpy as np
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA

In [2]:
#callng the csv file
apsfailureset_df=pd.read_csv("apsfailureset.csv")

In [3]:
#star of data set 
apsfailureset_df.head()

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,76698,na,2130706438,280,0,0,0,0,0,...,1240520,493384,721044,469792,339156,157956,73224,0,0,0
1,neg,33058,na,0,na,0,0,0,0,0,...,421400,178064,293306,245416,133654,81140,97576,1500,0,0
2,neg,41040,na,228,100,0,0,0,0,0,...,277378,159812,423992,409564,320746,158022,95128,514,0,0
3,neg,12,0,70,66,0,10,0,0,0,...,240,46,58,44,10,0,0,0,4,32
4,neg,60874,na,1368,458,0,0,0,0,0,...,622012,229790,405298,347188,286954,311560,433954,1218,0,0

In [4]:
#End of data set
apsfailureset_df.tail()

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
59995,neg,153002,na,664,186,0,0,0,0,0,...,998500,566884,1290398,1218244,1019768,717762,898642,28588,0,0
59996,neg,2286,na,2130706538,224,0,0,0,0,0,...,10578,6760,21126,68424,136,0,0,0,0,0
59997,neg,112,0,2130706432,18,0,0,0,0,0,...,792,386,452,144,146,2622,0,0,0,0
59998,neg,80292,na,2130706432,494,0,0,0,0,0,...,699352,222654,347378,225724,194440,165070,802280,388422,0,0
59999,neg,40222,na,698,628,0,0,0,0,0,...,440066,183200,344546,254068,225148,158304,170384,158,0,0

In [5]:
#shape of data set
apsfailureset_df.shape

(60000, 171)

In [6]:
#shape of data set
apsfailureset_df.shape[0]

60000

In [7]:
#Describing the type of data 
apsfailureset_df.describe

<bound method NDFrame.describe of       class  aa_000 ab_000      ac_000 ad_000 ae_000 af_000 ag_000 ag_001  \
0       neg   76698     na  2130706438    280      0      0      0      0
1       neg   33058     na           0     na      0      0      0      0
2       neg   41040     na         228    100      0      0      0      0
3       neg      12      0          70     66      0     10      0      0
4       neg   60874     na        1368    458      0      0      0      0
...     ...     ...    ...         ...    ...    ...    ...    ...    ...
59995   neg  153002     na         664    186      0      0      0      0
59996   neg    2286     na  2130706538    224      0      0      0      0
59997   neg     112      0  2130706432     18      0      0      0      0
59998   neg   80292     na  2130706432    494      0      0      0      0
59999   neg   40222     na         698    628      0      0      0      0

      ag_002  ...   ee_002  ee_003   ee_004   ee_005   ee_006  ee_007  ee_008  \
0          0  ...  1240520  493384   721044   469792   339156  157956   73224
1          0  ...   421400  178064   293306   245416   133654   81140   97576
2          0  ...   277378  159812   423992   409564   320746  158022   95128
3          0  ...      240      46       58       44       10       0       0
4          0  ...   622012  229790   405298   347188   286954  311560  433954
...      ...  ...      ...     ...      ...      ...      ...     ...     ...
59995      0  ...   998500  566884  1290398  1218244  1019768  717762  898642
59996      0  ...    10578    6760    21126    68424      136       0       0
59997      0  ...      792     386      452      144      146    2622       0
59998      0  ...   699352  222654   347378   225724   194440  165070  802280
59999      0  ...   440066  183200   344546   254068   225148  158304  170384

       ee_009 ef_000 eg_000
0           0      0      0
1        1500      0      0
2         514      0      0
3           0      4     32
4        1218      0      0
...       ...    ...    ...
59995   28588      0      0
59996       0      0      0
59997       0      0      0
59998  388422      0      0
59999     158      0      0

[60000 rows x 171 columns]>

In [8]:
#checking to see missing data 
apsfailureset_df.isnull().sum()

class     0
aa_000    0
ab_000    0
ac_000    0
ad_000    0
         ..
ee_007    0
ee_008    0
ee_009    0
ef_000    0
eg_000    0
Length: 171, dtype: int64

In [9]:
#information on the data distriution relationships
apsfailureset_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60000 entries, 0 to 59999
Columns: 171 entries, class to eg_000
dtypes: int64(1), object(170)
memory usage: 78.3+ MB

In [10]:
#using PCA for dimensionally reduction 
x = apsfailureset_df.drop(columns=['class']) #class is the target variable

In [20]:
# removing duplicates in the data set 
x = x.drop_duplicates()
# display how many duplicates before and after data cleansing is performed
before_duplicates = x.shape[0]
after_duplicates = x.shape[0]
#calculate the number of duplicates removed from dataset 
duplicates_removed = before_duplicates - after_duplicates



#print the results 
print(f"Number of Duplicates removed: {duplicates_removed}")

Number of Duplicates removed: 0

In [23]:
#reducing the data to determine the number of features
pca = PCA()

In [24]:
pca.fit(x)
cumultive_

ValueError: could not convert string to float: 'na'